@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

body {
    font-family: Poppins, serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    color: #403e3b;
}

h1,
a {
    color: #1b1a1a;
}

.navbar-container {
    display: flex;
    height: 90px;
    margin: 0 120px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 48px;
}

.nav-item {
    display: inline-block;
    /* margin: 0 10px; */
    font-size: 18px;
}

.get-template-button {
    background-color: #1b1a1a;
    padding: 11px 20px;
    border-radius: 15px;

    a {
        color: white;
    }
}

.logo {
    font-size: 28px;
    font-weight: 500;
    /* color: black; */
}

.first-block-container {
    background-color: #ece7e4;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.first-block-container > img {
    width: 50%;
}

.first-block-text-container {
    margin: 77px 60px;
    padding: 40px;

    * {
        margin: 0 0 30px;
    }
}

.company-name {
    color: #645c55;
    font-size: 24px;
    margin-bottom: 30px;
}

.heading {
    font-size: 6em;
    line-height: 1em;
    font-weight: 400;
}

.desc {
    font-size: 24px;
}

.logo > .bold {
    font-weight: 600;
}

.read-more {
    font-size: 1.6em;
    display: inline-block;
    margin: 15px 0 0 25px;
}
